/*
!/.git
!/.github
!/.gitignore
!/.LICENCE
!/.README.md
!/Packages
/Packages/*
!/Packages/com.varneon.v-udon.abstract
!/Packages/com.varneon.v-udon.common
!/Packages/com.varneon.v-udon.core
!/Packages/com.varneon.v-udon.essentials
!/Packages/com.varneon.v-udon.runtime-tools
!/Packages/com.varneon.v-udon.udonity
!/Packages/com.varneon.v-udon.vehicles
!/Packages/com.varneon.v-udon.vehicles-lite